@import "mixins"
@import "variables"
// Grid settings
@lost gutter 10px
@lost flexbox flex

// Structure, Container, row and columns
.container  
  padding-left gutter
  padding-right gutter
  margin-left auto
  margin-right auto
  +above(l)
    max-width 1170px
  +above(m)
    max-width 970px
  +above(s)
    max-width 750px
  +below(xs)
    max-width 100%

.row
  // lost-flex-container row
  flexbox(row,wrap)
  width 100%
 
// Grid columns
+above(l)
 .c-l-1
   lost-column 1/colums-number
 .c-l-2
   lost-column 2/colums-number
 .c-l-3
   lost-column 3/colums-number
 .c-l-4
   lost-column 4/colums-number
 .c-l-5
   lost-column 5/colums-number
 .c-l-6
   lost-column 6/colums-number
 .c-l-7
   lost-column 7/colums-number
 .c-l-8
   lost-column 8/colums-number
 .c-l-9
   lost-column 9/colums-number
 .c-l-10
   lost-column 10/colums-number
 .c-l-11
   lost-column 11/colums-number
 .c-l-12
   lost-column 12/colums-number
  // offset
 .c-l-offset-1
   lost-offset -1/colums-number
 .c-l-offset-2
   lost-offset -2/colums-number
 .c-l-offset-3
   lost-offset -3/colums-number
 .c-l-offset-4
   lost-offset -4/colums-number
 .c-l-offset-5
   lost-offset -5/colums-number
 .c-l-offset-6
   lost-offset -6/colums-number
 .c-l-offset-7
   lost-offset -7/colums-number
 .c-l-offset-8
   lost-offset -8/colums-number
 .c-l-offset-9
   lost-offset -9/colums-number
 .c-l-offset-10
   lost-offset -10/colums-number
 .c-l-offset-11
   lost-offset -11/colums-number
 .c-l-offset-12
   lost-offset -12/colums-number

+above(m)
 .c-m-1
   lost-column 1/colums-number
 .c-m-2
   lost-column 2/colums-number
 .c-m-3
   lost-column 3/colums-number
 .c-m-4
   lost-column 4/colums-number
 .c-m-5
   lost-column 5/colums-number
 .c-m-6
   lost-column 6/colums-number
 .c-m-7
   lost-column 7/colums-number
 .c-m-8
   lost-column 8/colums-number
 .c-m-9
   lost-column 9/colums-number
 .c-m-10
   lost-column 10/colums-number
 .c-m-11
   lost-column 11/colums-number
 .c-m-12
   lost-column 12/colums-number
  // offset
 .c-m-offset-1
   lost-offset -1/colums-number
 .c-m-offset-2
   lost-offset -2/colums-number
 .c-m-offset-3
   lost-offset -3/colums-number
 .c-m-offset-4
   lost-offset -4/colums-number
 .c-m-offset-5
   lost-offset -5/colums-number
 .c-m-offset-6
   lost-offset -6/colums-number
 .c-m-offset-7
   lost-offset -7/colums-number
 .c-m-offset-8
   lost-offset -8/colums-number
 .c-m-offset-9
   lost-offset -9/colums-number
 .c-m-offset-10
   lost-offset -10/colums-number
 .c-m-offset-11
   lost-offset -11/colums-number
 .c-m-offset-12
   lost-offset -12/colums-number

+above(s)
 .c-s-1
   lost-column 1/colums-number
 .c-s-2
   lost-column 2/colums-number
 .c-s-3
   lost-column 3/colums-number
 .c-s-4
   lost-column 4/colums-number
 .c-s-5
   lost-column 5/colums-number
 .c-s-6
   lost-column 6/colums-number 2
 .c-s-7
   lost-column 7/colums-number
 .c-s-8
   lost-column 8/colums-number
 .c-s-9
   lost-column 9/colums-number
 .c-s-10
   lost-column 10/colums-number
 .c-s-11
   lost-column 11/colums-number
 .c-s-12
   lost-column 12/colums-number
  // offset
 .c-s-offset-1
   lost-offset -1/colums-number
 .c-s-offset-2
   lost-offset -2/colums-number
 .c-s-offset-3
   lost-offset -3/colums-number
 .c-s-offset-4
   lost-offset -4/colums-number
 .c-s-offset-5
   lost-offset -5/colums-number
 .c-s-offset-6
   lost-offset -6/colums-number
 .c-s-offset-7
   lost-offset -7/colums-number
 .c-s-offset-8
   lost-offset -8/colums-number
 .c-s-offset-9
   lost-offset -9/colums-number
 .c-s-offset-10
   lost-offset -10/colums-number
 .c-s-offset-11
   lost-offset -11/colums-number
 .c-s-offset-12
   lost-offset -12/colums-number

+below(xs)
 .c-xs-1
   lost-column 1/colums-number
 .c-xs-2
   lost-column 2/colums-number
 .c-xs-3
   lost-column 3/colums-number
 .c-xs-4
   lost-column 4/colums-number
 .c-xs-5
   lost-column 5/colums-number
 .c-xs-6
   lost-column 6/colums-number
 .c-xs-7
   lost-column 7/colums-number
 .c-xs-8
   lost-column 8/colums-number
 .c-xs-9
   lost-column 9/colums-number
 .c-xs-10
   lost-column 10/colums-number
 .c-xs-11
   lost-column 11/colums-number
 .c-xs-12
   lost-column 12/colums-number
  // offset
 .c-xs-offset-1
   lost-offset -1/colums-number
 .c-xs-offset-2
   lost-offset -2/colums-number
 .c-xs-offset-3
   lost-offset -3/colums-number
 .c-xs-offset-4
   lost-offset -4/colums-number
 .c-xs-offset-5
   lost-offset -5/colums-number
 .c-xs-offset-6
   lost-offset -6/colums-number
 .c-xs-offset-7
   lost-offset -7/colums-number
 .c-xs-offset-8
   lost-offset -8/colums-number
 .c-xs-offset-9
   lost-offset -9/colums-number
 .c-xs-offset-10
   lost-offset -10/colums-number
 .c-xs-offset-11
   lost-offset -11/colums-number
 .c-xs-offset-12
   lost-offset -12/colums-number

// support classes
.text-center
  text-align center
  
.text-right
  text-align right
  
.text-left
  text-align left
  

// .c-s-6:nth-child(2n)
//   margin-right 0