/* variables */

// colors
primary-color = #a80000
secundary-color = #a80000
default-color = #666666

// gird responsive
xs = 767px
s = 768px
m =  992px
l =  1200px
gutter = 10px
colums-number = 12

// fonts text
primary-font = 'Open Sans', sans-serif